@charset "utf-8";
/* CSS Document */
                    /* lg screen*/
@media (max-width :1200px)
{
    
}
                 /* md screen*/
@media (max-width :991px)
{
    header .coronaimgs .small_img{
        left: 275px;
     } 
     .d-lg-block{
        display: none;
     }
   
}
                 /* sm screen*/
@media (max-width :768px){
    header .coronaimgs .small_img{
        left: 268px;
        top: 3px;
    } 
  
}

@media (max-width :576px){
   
     
   /*ssm*/
}
@media (max-width :480px){
   
    footer .overlay .one img{
        width: 100%;
        height: 100%;
    }
    .protects .lavander{
        top: -50px;
    }
    .contacts .buttons button{
        
    }
    /*xsm*/
 }
 @media (max-width :320px){
 
    .about .countries .row .the_col .item h2{
        font-size: 25px;
    }
    /*xsm*/
 }